<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodRadar">
        <activity
            android:name=".logic.CreacionCuentaRestaurante"
            android:exported="false" />
        <!-- Para el Caché -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

<!--        <activity-->
<!--            android:name=".logic.PerfilRestaurante"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".logic.CalificarRestaurante"-->
<!--            android:exported="false"-->
<!--            android:windowSoftInputMode="adjustNothing" />-->
        <activity
            android:name=".logic.MiRestaurante"
            android:exported="false" />
        <activity
            android:name=".logic.MapaRestaurante"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".logic.Perfil"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".logic.EditarCuenta"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".logic.CambiarContrasena"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".logic.CreacionCuenta"
            android:exported="true" />
        <activity
            android:name=".logic.Opciones"
            android:exported="true" />
        <activity
            android:name=".logic.Mapa"
            android:exported="true" />
        <activity
            android:name=".logic.Paradas"
            android:exported="true"/>
        <activity
            android:name=".logic.InicioSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>